{% extends "layout.html" %}
{% block content %}
<div id="contact" class="container" style="min-height: 100vh">
<div class="text-center" style="position: relative; font-family: Garamond, serif; padding-top: 20vh">
    <h1 class="display-5" style="font-size: 120px">Contact Us!</h1>

    <p class="display-5" style="font-size: 40px">Please send all inquiries and comments to the contact information below</p>
    <p class="display-5 py-5" style="font-size: 30px">Email: <span style="color: blue">noahyin11@gmail.com</span></p>
  </div>
</div>
{% endblock content %}